<FlexboxLayout class="page">
    <StackLayout class="form">
        <Image  class="logo" src="~/images/logo.png"></Image>
        <StackLayout class="inputs">
            <StackLayout class="app-field">
                <TextField [(ngModel)]='userName' hint="Uživatelské jméno" ...></TextField>
            </StackLayout>
            <StackLayout class="app-field">
                <TextField [(ngModel)]='passWord' hint="Heslo" ... secure="true"></TextField>
            </StackLayout>
        </StackLayout>
        <Button text="Přihlásit se" (tap)="submit()"></Button>
    </StackLayout>
</FlexboxLayout>