.header {
    width: 100%;
    background: #091236;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.header .menu-icon {
    font-size: 35px;
}
.header .application-state-label {
    padding-left: 35px;
    padding-top: 7px;
    font-size: 18px;
}
.logout-label {
    color: #091236;
    font-size: 45px;
    padding-right: 10px;
}
.form-field {
    margin-bottom: 15px;
}
.button {
    background: #091236;
    color: white;
}
.photo-list {
    width: 100%;
    height: 500px;
}
.photo-button {
    width: 30%;
    height: 110px;
    font-size: 30px;
    margin-left: 5px;
}
.photo-item {
    margin-left: 10px;
    width: 30%;
    height: 120px;
}
.on-the-way-labels {
    margin-top: 15px;
}
.h2 {
    font-size: 20px;
    margin-top: 15px;
    padding-bottom: 4px;
    text-decoration: underline;
}
.location-label {
    color: black;
    font-size: 15px;
    padding-right: 20px;
}
.price-wrapper {
    margin-top: 20px;
    color: red;
}
.price {
    font-weight: bold;
}

.drawerContentText {
    font-size: 13;
    padding: 10;
}

.drawerContentButton {
    horizontal-align: left;
}

.sideStackLayout {
    background-color: white;
}
.sideStackLayout .divider {
    background-color: gray;
    height: 3;
}

.sideTitleStackLayout {
    height: 110;
    text-align: center;
    vertical-align: center;
    background-color: #091236;
    color: white;
    padding-left: 15px;
}
.sideTitleStackLayout Label {
    horizontal-align: left;
}
.user-icon {
    font-size: 40px;
    padding-bottom: 20px;
}

.sideLabel {
    padding: 10;
}
.sideLabel .side-text-icon {
    font-size: 25px;
    padding-right: 30px;
}
.sideLabel .side-text {
    padding-top: 5px;
}