<StackLayout>
    <RadSideDrawer tkExampleTitle tkToggleNavButton>
        <StackLayout tkDrawerContent class="sideStackLayout">
            <StackLayout class="sideTitleStackLayout">
                <Label class="mdi user-icon" [text]="'mdi-account-circle' | fonticon"></Label>
                <Label [text]='user.name'></Label>
                <Label [text]='user.surname'></Label>
            </StackLayout>
            <StackLayout class="sideStackLayout">
                <StackLayout class="sideLabel" (tap)="aboutCompanyDialog()">
                    <WrapLayout orientation="horizontal">
                        <Label class="mdi side-text-icon" [text]="'mdi-info' | fonticon"></Label>
                        <Label class="side-text" text="O aplikaci"></Label>
                    </WrapLayout>
                </StackLayout>
                <StackLayout class="sideLabel">
                    <WrapLayout orientation="horizontal" (tap)="useApplicationDialog()">
                        <Label class="mdi side-text-icon" [text]="'mdi-grade' | fonticon"></Label>
                        <Label class="side-text" text="Použití"></Label>
                    </WrapLayout>
                </StackLayout>
                <Label class="divider"></Label>
            </StackLayout>
            <StackLayout class="sideLabel">
                <WrapLayout orientation="horizontal" (tap)="logout()">
                    <Label class="mdi side-text-icon" [text]="'mdi-power-settings-new' | fonticon"></Label>
                    <Label class="side-text" text="Odhlásit"></Label>
                </WrapLayout>
            </StackLayout>
        </StackLayout>
        <StackLayout tkMainContent>
            <WrapLayout orientation="horizontal" class="header">
                <Label class="mdi menu-icon" [text]="'mdi-menu' | fonticon" (tap)="openDrawer()"></Label>
                <Label class="application-state-label" [text]='page_label'></Label>
            </WrapLayout>
            <ScrollView class="scroll-view">
                <StackLayout>
                    <StackLayout class="page">
                        <!-- Start Shipment -->
                        <StackLayout *ngIf="!duringShipment">
                            <TextField class="form-field app-field" [(ngModel)]='id_shipment' hint="Číslo jízdy" ...></TextField>
                            <TextField class="form-field app-field" [(ngModel)]='code' hint="Kód pro odstartování jizdy" ...></TextField>
                            <Button text="Začít jízdu" (tap)="resolveShipment()"></Button>
                            <Button class="mdi photo-button" isEnabled="{{canTakePhoto}}" [text]="'mdi-add-a-photo' | fonticon" (tap)="onTakePhoto()"></Button>
                        </StackLayout>

                        <!-- On the way Shipment -->
                        <StackLayout *ngIf="duringShipment">
                            <StackLayout class="shipment">
                                <StackLayout class="on-the-way-labels">
                                    <Label class="h2" text="Odkud: "></Label>
                                    <WrapLayout orientation="horizontal">
                                        <Label class="location-label" [text]='shipment.from.city' ></Label>
                                        <Label class="location-label" [text]='shipment.from.street' ></Label>
                                    </WrapLayout>
                                    <Label class="h2" text="Kam: "></Label>
                                    <WrapLayout orientation="horizontal">
                                        <Label class="location-label" [text]='shipment.to.city' ></Label>
                                        <Label class="location-label" [text]='shipment.to.street' ></Label>
                                    </WrapLayout>
                                    <Label class="h2" text="Cena: "></Label>
                                    <WrapLayout orientation="horizontal">
                                        <Label class="price" [text]='shipment.price' ></Label>
                                        <Label class="price" text=",-Kč"></Label>
                                    </WrapLayout>
                                </StackLayout>
                            </StackLayout>
                            <TextField class="app-field" [(ngModel)]='code' hint="Kód pro ukončení jízdy" ...></TextField>
                            <Button text="Ukončit jízdu" (tap)="resolveShipment()"></Button>
                            <Button class="mdi photo-button" isEnabled="{{canTakePhoto}}" [text]="'mdi-add-a-photo' | fonticon" (tap)="onTakePhoto()"></Button>
                        </StackLayout>
                        <WrapLayout orientation="horizontal" class="photo-list">
                            <StackLayout *ngFor="let photo of photos">
                                <GridLayout class="photo-item" (longPress)="onPhotoContextMenu(photo.ID)">
                                    <Image [src]="photo.source"></Image>
                                </GridLayout >
                            </StackLayout>
                        </WrapLayout>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
        </StackLayout>
    </RadSideDrawer>
</StackLayout>