.header {
    width: 100%;
    background: #091236;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.app-field {
    font-size: 20px;
}
.button-text {
    font-size: 20px;
}
.page {
    padding-top: 70px;
    padding-bottom: 20px;
}
.header .menu-icon {
    font-size: 45px;
}
.header .application-state-label {
    padding-left: 30px;
    padding-top: 14px;
    font-size: 20px;
}
.buttons-section {
    margin-top: 40px;
}
.buttons-section Button {
    margin-top: 20px;
    height: 100px;
}
.form-field {
    margin-bottom: 15px;
}
.button {
    background: #091236;
    color: white;
}
.photo-list {
    width: 100%;
    height: 500px;
}
.photo-button {
    font-size: 40px;
}
.photo-item {
    padding-right: 5px;
    padding-left: 5px;
    width: 33%;
    height: 120px;
}
.on-the-way-labels {
    margin-top: 15px;
}
.h2 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    padding-bottom: 4px;
}
.location-label {
    color: black;
    font-size: 20px;
    padding-right: 20px;
}
.price {
    font-weight: bold;
    color: red;
}

.drawerContentButton {
    horizontal-align: left;
}

.sideStackLayout {
    background-color: white;
}
.sideStackLayout .divider {
    background-color: gray;
    height: 3;
}

.sideTitleStackLayout {
    height: 150;
    text-align: center;
    vertical-align: center;
    background-color: #091236;
    color: white;
    padding-left: 20px;
}
.sideTitleStackLayout Label {
    horizontal-align: left;
}
.user-icon {
    font-size: 50px;
    padding-bottom: 25px;
}
.user-label {
    font-size: 25px;
}
.sideLabel {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.sideLabel .side-text-icon {
    font-size: 30px;
    padding-right: 30px;
}
.sideLabel .side-text {
    font-size: 25px;
}